<% @title=t('user_management.sign_up.title') %>

<div class='row'>

<div class= 'large-12 columns'>

<h1><%= t('user_management.sign_up.title') %></h1>

<p> Register to become a member of our online community. As a registered user you will be able to contribute your own resources to our resource library and access additional resources and materials.</p>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

</div>

<div class= 'large-6 columns'>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, label:false %>
  </div>
</div>

<div class= 'large-6 columns'>
  <div class="field">
    <%= f.label :surname %>
    <%= f.text_field :surname, autofocus: true, label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :gender%>
    <%= f.select :gender, [[t('m_user.gender.Male'),'Male'], [t('m_user.gender.Female'),'Female'], [t('m_user.gender.IDWTS'),'IDWTS']], label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :country%>
    <%= f.text_field :country, autofocus: true, label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :organisation%>
    <%= f.text_field :organisation, autofocus: true, label:false  %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :msun %>
    <%= f.check_box :msun,label:false  %>
  </div>
</div>

<div class= 'large-12 columns'>
  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, label:false %>
  </div>
</div>

<div class= 'large-12 columns'>
  <div class="field">
    <%= f.label :motivation %>
    <%= f.text_area :motivation, autofocus: true, label: false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :newsletter %>
    <%= f.check_box :newsletter,label:false  %>
  </div>
</div>

<div class= 'large-12 columns'>
  <div class="field">
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
</div>

<div class= 'large-12 columns'>
  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <%= render "devise/shared/links" %>
</div>
<% end %>



</div>
