<% @title=t('c_champion.index.title') %>

<div class = "row">
  <div class= "large-12 columns">
  <h1>Nutrition Champions</h1>
  <p> We are supporting a global network of Nutrition Champions, a group of passionate individuals who are working together to end malnutrition. Our nutrition champions come from a variety of backgrounds; they may have developed an innovative approach to tackling malnutrition which is positively affecting their community, they may be training others in practical solutions to fight malnutrition, they may be working in their community to increase awareness of people’s right to food or they might be raising their voice on a global platform. </p>
  <p> Find out about some of our current champions: </p>
</div>
</div>

<% @champions.each do |apple| %>
<% name = apple.first_name + ' ' + apple.last_name%>
<% url = 'champions/' + apple.id.to_s %>
  <div class = "row large-12 columns">
    <div class = "large-3 columns">
      <%=link_to image_tag(apple.headshot.url,width:"100%"),url %>
    </div>
    <div class = "large-9 columns">
      <h4 class='nname'><a href=<%= url %>><%= name %></a></h4>
      <p> <b> <%=apple.country %> </b> </p>
      <%= simple_format(apple.short_description) %>
      <a href=<%= url %>>Full Description </a>
    </div>
  </div>
  <br>
<% end %>
<div class="large-12 columns row">
<p> Would you like to become a nutrition champion? Or do you know someone who is a leader in their community? Nominate a nutrition champion <b>here</b> (link to google form). </p>
</div>
