<% @title=t('c_champion.index.title') %>

<div class = "row">
  <div class= "large-12 columns">
  <h1><%=t('c_champion.index.title') %></h1>
  <p> We are supporting a global network of Nutrition Champions, a group of powerful advocates who are working together to end malnutrition. Our nutrition champions come from a variety of backgrounds; they may be working in their community to increase awareness of people’s right to food, they may be training others in practical solutions to fight malnutrition, or they might be raising their voice on a global platform.</p>
  <p> Find out about some of our current champions: </p>
</div>
</div>

<% @champions.each do |apple| %>
<% name = apple.first_name + ' ' + apple.last_name%>
<% url = 'champions/' + apple.id.to_s %>
  <div class = "row large-12 columns">
    <div class = "large-3 columns">
      <%=link_to image_tag(apple.headshot.url,width:"100%"),url %>
    </div>
    <div class = "large-9 columns">
      <h4 class='nname'><a href=<%= url %>><%= name %></a></h4>
      <p> <b> <%=apple.country %> </b> </p>
      <%= simple_format(apple.short_description) %>
      <a href=<%= url %>>Read More </a>
    </div>
  </div>
  <br>
<% end %>
<div class="large-12 columns row">
  <p>If you would like contact one of our nutrition champions with relevant opportunities please click <b> <%= mail_to 'sun.csnetwork@savethechildren.org.uk', 'here' %></b></p>
  <p> Interested in becoming a nutrition champion? Or want to nominate a leader in your community? Nominate your nutrition champion <b> <%= link_to 'here', 'https://docs.google.com/forms/d/e/1FAIpQLSeQmurcfLx1PHbWVPBP7R5dy5tXJqiDZ0bMv35pb6fNbeqfNQ/viewform?usp=sf_link' %> </b></p>
</div>
