<% @title=t('c_learning_route.about_lr.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%=t('c_learning_route.about_lr.title') %></h1>
    <p><%=t('c_learning_route.about_lr.p1') %></p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("Learning programmes.jpg", alt: "Approaches and Outcomes", title: "Approaches and Outcomes"), 'lrao'%>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("AfricaLR.JPG", alt: "Africa Learning Route", title: "Africa Learning Route"), 'lr1'%>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("Good practices.jpg", alt: "Good Practises and Champions", title: "Good Practises and Champions"), 'lrc'%>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("Resources.jpg", alt: "Learning Route News", title: "Learning Route News"), news_indexlr_path%>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("Innovation plans.jpg", alt: "Innovation Plans ", title: "Innovation Plans "), 'lrip'%>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("Join the community.jpg", alt: "Join the community", title: "Join the community"), 'https://www.facebook.com/groups/SUNCSNLearningRoute/'%>
  </div>
</div>

<br>
<hr>
<br>
<div class = "row large-12 columns">
  <h1><%=t('c_learning_route.about_lr.lnop') %></h1>
</div>
<% @posts.each do |apple| %>
  <div class= 'row'>
   <div class = "large-9 columns">
    <h4 class = "title"><%= link_to apple.title, 'news/'+apple.id.to_s %> </h4>
    <p> News added on: <%= apple.created_at.to_date %> </p>
    <%= simple_format(apple.short) %>
    <%= link_to 'More Information', 'news/'+apple.id.to_s%>
  </div>
  <div class = "large-3 columns">
    <% if apple.picture %>
    <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
    <% end %>
  </div>
 </div>
 <br>
<% end %>


<div class = "row large-12 columns">
    <%= paginate @posts %>
</div>
