<% @title=t('c_learning_route.about_lr.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1>SUN Civil Society Learning Route Programme</h1>
    <p>A “Learning Route” is a proven process developed by Procasur Corporation, for accelerating knowledge sharing and peer-to-peer learning. At the heart of the learning route is a facilitated visit to a host country by representatives of different countries.</p>
    <p>Main objective of the programme is strengthening SUN Civil Society Alliances mutual collaboration and scaling up innovative solutions.</p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), 'lrao'%>
    <p> Approaches and Outcomes </p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), 'lr1'%>
    <p> LR in Africa </p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), 'lrc'%>
    <p> Good Practises and Champions </p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), news_indexlr_path%>
    <p> Learning Route News </p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), 'lrip'%>
    <p> Innovation Plans </p>
  </div>
  <div class = "large-4 columns">
    <%=link_to image_tag("place.png", alt: "Placeholder", title: "Placeholder"), '/'%>
    <p> Join the Facebook Community </p>
  </div>
</div>

<hr>
<br>
<div class = "row large-12 columns">
    <h3> Learning News and Opportunities </h3>
</div>
<% @posts.each do |apple| %>
  <div class= 'row'>
   <div class = "large-9 columns">
    <h4 class = "title"><%= link_to apple.title, 'news/'+apple.id.to_s %> </h4>
    <p> News added on: <%= apple.created_at.to_date %> </p>
    <%= simple_format(apple.short) %>
    <%= link_to 'More Information', 'news/'+apple.id.to_s%>
  </div>
  <div class = "large-3 columns">
    <% if apple.picture %>
    <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
    <% end %>
  </div>
 </div>
 <br>
<% end %>


<div class = "row large-12 columns">
    <%= paginate @posts %>
</div>
