<% @title=t('c_learning_route.about_lr.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%=t('c_learning_route.about_lr.title') %></h1>
    <p><%=t('c_learning_route.about_lr.paragraph_1') %></p>
    <p><%=t('c_learning_route.about_lr.paragraph_2') %></p>
    <ul>
      <li><b><%=t('c_learning_route.about_lr.list_1.item_1.bold_text') %></b> - <%=t('c_learning_route.about_lr.list_1.item_1.initial_text') %> <%= link_to t('c_learning_route.about_lr.list_1.item_1.hyperlink_1'), 'lrao', class:"blink" %> <%=t('c_learning_route.about_lr.list_1.item_1.middle_text') %> <%= link_to t('c_learning_route.about_lr.list_1.item_1.hyperlink_2'), 'lr1', class:"blink" %> <%=t('c_learning_route.about_lr.list_1.item_1.last_text') %>   </li>
      <li><b><%=t('c_learning_route.about_lr.list_1.item_2.bold_text') %></b> - <%=t('c_learning_route.about_lr.list_1.item_2.text') %> <%= link_to t('c_learning_route.about_lr.list_1.item_2.hyperlink'), 'http://scalingupnutrition.org/events/2017-sun-movement-global-gathering/', class:"blink" %></li>
      <li><b><%=t('c_learning_route.about_lr.list_1.item_3.bold_text') %></b> - <%=t('c_learning_route.about_lr.list_1.item_3.initial_text') %> <%= link_to t('c_learning_route.about_lr.list_1.item_3.hyperlink'), 'http://suncivilsocietynet.wixsite.com/learningroute/award', class:"blink" %> <%=t('c_learning_route.about_lr.list_1.item_1.last_text') %>   </li>
      <li><b><%=t('c_learning_route.about_lr.list_1.item_4.bold_text') %></b> - <%=t('c_learning_route.about_lr.list_1.item_4.text') %> <%= link_to t('c_learning_route.about_lr.list_1.item_4.hyperlink'), 'https://calendar.google.com/calendar/render?pli=1#main_7', class:"blink" %></li>
    </ul>
    <p><%=t('c_learning_route.about_lr.paragraph_3.text') %> <%= link_to t('c_learning_route.about_lr.paragraph_3.hyperlink'), 'https://www.facebook.com/groups/SUNCSNLearningRoute/', class:"blink" %></p>
  </div>
</div>

<br>
<hr>
<br>
<div class = "row large-12 columns">
  <h1><%=t('c_learning_route.about_lr.sub_title.lnop') %></h1>
</div>
<% @posts.each do |apple| %>
  <div class= 'row'>
   <div class = "large-9 columns">
    <h4 class = "title"><%= link_to apple.title, 'news/'+apple.id.to_s %> </h4>
    <p> News added on: <%= apple.created_at.to_date %> </p>
    <%= simple_format(apple.short) %>
    <%= link_to 'More Information', 'news/'+apple.id.to_s%>
  </div>
  <div class = "large-3 columns">
    <% if apple.picture %>
    <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
    <% end %>
  </div>
 </div>
 <br>
<% end %>


<div class = "row large-12 columns">
    <%= paginate @posts %>
</div>
