<% @title=t('c_learning_route.lrao.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%= t('c_learning_route.lrao.title') %></h1>
    <p> <%= t('c_learning_route.lrao.paragraph_1') %> </p>
    <h4><%= t('c_learning_route.lrao.sub_title.learning_route_approach') %></h4>
    <p> <%= t('c_learning_route.lrao.paragraph_2') %> </p>
    <ul class='circles'>
      <li> <%= t('c_learning_route.lrao.list_1.item_1.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_1.bold_text') %> </b> <%= t('c_learning_route.lrao.list_1.item_1.last_text') %> </li>
      <li> <%= t('c_learning_route.lrao.list_1.item_2.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_2.bold_text') %> </b> <%= t('c_learning_route.lrao.list_1.item_2.last_text') %> </li>
      <li> <%= t('c_learning_route.lrao.list_1.item_3.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_3.bold_text') %> </b> <%= t('c_learning_route.lrao.list_1.item_3.last_text') %> </li>
      <li> <%= t('c_learning_route.lrao.list_1.item_4.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_4.bold_text') %> </b> <%= t('c_learning_route.lrao.list_1.item_4.last_text') %> </li>
      <li> <b> <%= t('c_learning_route.lrao.list_1.item_5.bold_text_1') %> </b> <%= t('c_learning_route.lrao.list_1.item_5.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_5.bold_text_2') %> </b> <%= t('c_learning_route.lrao.list_1.item_5.last_text') %> </li>
      <li> <%= t('c_learning_route.lrao.list_1.item_6.initial_text') %> <b> <%= t('c_learning_route.lrao.list_1.item_6.bold_text') %> </b> <%= t('c_learning_route.lrao.list_1.item_6.last_text') %> </li>
    </ul>
    <p><%= link_to t('c_learning_route.lrao.paragraph_3.hyperlink'), '/lr1', class:"blink" %></p>
  </div>
</div>
