<% @title=t('c_learning_route.lrao.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%= t('c_learning_route.lrao.title') %></h1>
    <p> <%= t('c_learning_route.lrao.p1') %> </p>
    <ul class='circles'>
      <li><b><%= t('c_learning_route.lrao.b1.title') %></b> - <%= t('c_learning_route.lrao.b1.text') %>  <%= link_to t('c_learning_route.lrao.b1.link'),'lr1' %>  <%= t('c_learning_route.lrao.b1.link_p') %></li>
      <li><b><%= t('c_learning_route.lrao.b2.title') %></b> - <%= t('c_learning_route.lrao.b2.text') %>  <%= link_to t('c_learning_route.lrao.b2.link'),'http://scalingupnutrition.org/events/2017-sun-movement-global-gathering/' %> </li>
      <li><b><%= t('c_learning_route.lrao.b3.title') %></b> - <%= t('c_learning_route.lrao.b3.text') %>  <%= link_to t('c_learning_route.lrao.b3.link'),'http://suncivilsocietynet.wixsite.com/learningroute/award ' %> </li>
      <li><b><%= t('c_learning_route.lrao.b4.title') %></b> - <%= t('c_learning_route.lrao.b4.text') %> </li>
    </ul>
    <h3><%= t('c_learning_route.lrao.stitle1') %></h3>
    <p> <%= t('c_learning_route.lrao.p2') %> </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/TJ8X0xoMcRE" frameborder="0" allowfullscreen></iframe>
    <h3><%= t('c_learning_route.lrao.stitle2') %></h3>
    <p> <%= t('c_learning_route.lrao.p3') %> </p>
    <ul class='circles'>
      <li><%= t('c_learning_route.lrao.ba1.pb') %> <b><%= t('c_learning_route.lrao.ba1.b') %> </b>  <%= t('c_learning_route.lrao.ba1.ppb') %></li>
      <li><%= t('c_learning_route.lrao.ba2.pb') %> <b><%= t('c_learning_route.lrao.ba2.b') %> </b>  <%= t('c_learning_route.lrao.ba2.ppb') %></li>
      <li><%= t('c_learning_route.lrao.ba3.pb') %> <b><%= t('c_learning_route.lrao.ba3.b') %> </b>  <%= t('c_learning_route.lrao.ba3.ppb') %></li>
      <li><%= t('c_learning_route.lrao.ba4.pb') %> <b><%= t('c_learning_route.lrao.ba4.b') %> </b>  <%= t('c_learning_route.lrao.ba4.ppb') %></li>
      <li><b><%= t('c_learning_route.lrao.ba5.bb') %> </b> <%= t('c_learning_route.lrao.ba5.pb') %> <b><%= t('c_learning_route.lrao.ba5.b') %> </b>  <%= t('c_learning_route.lrao.ba5.ppb') %></li>
      <li><%= t('c_learning_route.lrao.ba6.pb') %> <b><%= t('c_learning_route.lrao.ba6.b') %> </b>  <%= t('c_learning_route.lrao.ba6.ppb') %></li>
  </ul>
  </div>
</div>
