<% @title=t('c_learning_route.lrc.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%=t('c_learning_route.lrc.title') %></h1>
    <h4> <%=t('c_learning_route.lrc.sub_title.best_practises') %> </h4>
    <p> <%=t('c_learning_route.lrc.paragraph_1.initial_text') %> <b><%=t('c_learning_route.lrc.paragraph_1.bold_text') %></b> <%=t('c_learning_route.lrc.paragraph_1.middle_text') %> <%= link_to t('c_learning_route.lrc.paragraph_1.hyperlink'), 'http://www.sunalliancerwanda.org/', class:"blink" %> <%=t('c_learning_route.lrc.paragraph_1.last_text') %> </p>
    <p> <%=t('c_learning_route.lrc.paragraph_2') %> </p>
    <h4> <%=t('c_learning_route.lrc.sub_title.champions') %> </h4>
    <p>  <%=t('c_learning_route.lrc.paragraph_3.initial_text') %> <b><%=t('c_learning_route.lrc.paragraph_3.bold_text') %></b>  <%=t('c_learning_route.lrc.paragraph_3.last_text') %> </p>
    <h4> <%=t('c_learning_route.lrc.sub_title.innovation_plans') %> </h4>
    <p> <%=t('c_learning_route.lrc.paragraph_4') %> </p>
    <p> <%=t('c_learning_route.lrc.paragraph_5') %> </p>
    <ul class='circles'>
      <li>  <%= link_to t('c_learning_route.lrc.list_1.item_1.hyperlink'), 'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-ethiopia-innovation-plan', class:"blink" %> </li>
      <li>  <%= link_to t('c_learning_route.lrc.list_1.item_2.hyperlink'), 'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-sierra-leone-innovation-pla', class:"blink" %> </li>
      <li>  <%= link_to t('c_learning_route.lrc.list_1.item_3.hyperlink'), 'http://suncivilsocietynet.wixsite.com/learningroute/ethiopia-innovation-plan', class:"blink" %> </li>
    </ul>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class = "large-12 columns">
    <div class = "large-6 columns">
      <h3> <%=t('c_learning_route.lrc.sub_title.best_practises') %> </h3>
      <% @posts.each do |apple| %>
        <div class= 'row'>
          <div class = "large-4 columns">
            <% if apple.picture %>
            <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
            <% end %>
          </div>
         <div class = "large-8 columns">
          <h4 class = "title"><%= link_to apple.title, 'news/'+apple.id.to_s %> </h4>
          <p> News added on: <%= apple.created_at.to_date %> </p>
          <%= simple_format(apple.short) %>
          <%= link_to 'More Information', 'news/'+apple.id.to_s%>
        </div>
       </div>
       <br>
      <% end %>
    </div>
    <div class = "large-6 columns">
      <h3> <%=t('c_learning_route.lrc.sub_title.champions') %> </h3>
      <% @champions.each do |apple| %>
      <% name = apple.first_name + ' ' + apple.last_name%>
      <% url = 'champions/' + apple.id.to_s %>
        <div class = "row large-12 columns">
          <div class = "large-4 columns">
            <%=link_to image_tag(apple.headshot.url,width:"100%"),url %>
          </div>
          <div class = "large-8 columns">
            <h4 class='nname'><a href=<%= url %>><%= name %></a></h4>
            <p> <b> <%=apple.country %> </b> </p>
            <%= simple_format(apple.short_description) %>
            <a href=<%= url %>>Full Description </a>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
