<% @title=t('c_learning_route.lrc.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1><%=t('c_learning_route.lrc.title') %></h1>
    <p><%=t('c_learning_route.lrc.p1.pb') %> <b><%=t('c_learning_route.lrc.p1.b') %></b> <%=t('c_learning_route.lrc.p1.pl') %> <%= link_to t('c_learning_route.lrc.p1.l'),'http://www.sunalliancerwanda.org/' %> <%=t('c_learning_route.lrc.p1.ppl') %>
    <br> <br> <%=t('c_learning_route.lrc.p2.pb') %> <b><%=t('c_learning_route.lrc.p2.b') %></b> <%=t('c_learning_route.lrc.p2.pl') %> </p>
    <p><%=link_to t('c_learning_route.lrc.p3.l'),'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-rwanda-learning-route-2' %> <%=t('c_learning_route.lrc.p3.t') %></p>
    <p><%=t('c_learning_route.lrc.p4.t') %> <%=link_to t('c_learning_route.lrc.p4.l'), 'https://www.facebook.com/groups/SUNCSNLearningRoute/' %></p>
    <h3><%=t('c_learning_route.lrc.stitlem') %></h3>
    <ul class='circles'>
      <li> <%=t('c_learning_route.lrc.l1.i1') %> </li>
      <li> <%=t('c_learning_route.lrc.l1.i2') %> </li>
      <li> <%=t('c_learning_route.lrc.l1.i3') %> </li>
      <li> <%=t('c_learning_route.lrc.l1.i4') %> </li>
      <li> <%=t('c_learning_route.lrc.l1.i5') %> </li>
      <li> <%=t('c_learning_route.lrc.l1.i6') %> </li>
    </ul>
  </div>
</div>

<br>
<hr>
<br>

<div class="row">
  <div class = "large-12 columns">
    <div class = "large-6 columns">
      <h3> <%=t('c_learning_route.lrc.stitle1') %> </h3>
      <% @posts.each do |apple| %>
        <div class= 'row'>
          <div class = "large-4 columns">
            <% if apple.picture %>
            <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
            <% end %>
          </div>
         <div class = "large-8 columns">
          <h4 class = "title"><%= link_to apple.title, 'news/'+apple.id.to_s %> </h4>
          <p> News added on: <%= apple.created_at.to_date %> </p>
          <%= simple_format(apple.short) %>
          <%= link_to 'More Information', 'news/'+apple.id.to_s%>
        </div>
       </div>
       <br>
      <% end %>
    </div>
    <div class = "large-6 columns">
      <h3> <%=t('c_learning_route.lrc.stitle2') %> </h3>
      <% @champions.each do |apple| %>
      <% name = apple.first_name + ' ' + apple.last_name%>
      <% url = 'champions/' + apple.id.to_s %>
        <div class = "row large-12 columns">
          <div class = "large-4 columns">
            <%=link_to image_tag(apple.headshot.url,width:"100%"),url %>
          </div>
          <div class = "large-8 columns">
            <h4 class='nname'><a href=<%= url %>><%= name %></a></h4>
            <p> <b> <%=apple.country %> </b> </p>
            <%= simple_format(apple.short_description) %>
            <a href=<%= url %>>Full Description </a>
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
