<% @title=t('c_learning_route.lrip.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1> <%= t('c_learning_route.lrip.title') %> </h1>
    <h3> <%= t('c_learning_route.lrip.stitle1') %> </h3>
    <p>  <%= t('c_learning_route.lrip.p1') %> </p>
    <p>  <%= t('c_learning_route.lrip.p2') %>: </p>
    <ul class='circles'>
      <li> <%= t('c_learning_route.lrip.l1.li1') %></li>
      <li> <%= t('c_learning_route.lrip.l1.li2') %></li>
      <li> <%= t('c_learning_route.lrip.l1.li3') %></li>
      <li> <%= t('c_learning_route.lrip.l1.li4') %></li>
    </ul>
    <h3> <%= t('c_learning_route.lrip.stitle2') %> </h3>
    <p>  <%= t('c_learning_route.lrip.p3') %>: </p>
    <ul class='circles'>
      <li><%= t('c_learning_route.lrip.l2.li1') %></li>
      <li><%= t('c_learning_route.lrip.l2.li2') %></li>
      <li><%= t('c_learning_route.lrip.l2.li3') %></li>
      <li><%= t('c_learning_route.lrip.l2.li4') %></li>
      <li><%= t('c_learning_route.lrip.l2.li5') %></li>
      <li><%= t('c_learning_route.lrip.l2.li6') %></li>
      <li><%= t('c_learning_route.lrip.l2.li7') %></li>
      <li><%= t('c_learning_route.lrip.l2.li8') %></li>
      <li><%= t('c_learning_route.lrip.l2.li9') %></li>
    </ul>
    <%=image_tag("ip_image.jpg", alt: "Innovation Plans", title: "Innovation Plans")%>
    <h3> <%= t('c_learning_route.lrip.stitle3') %> </h3>
    <p>  <%= t('c_learning_route.lrip.p4') %> <%= link_to t('c_learning_route.lrip.p4l'), 'http://suncivilsocietynet.wixsite.com/learningroute/webinars' %>  </p>
    <p>  <%= t('c_learning_route.lrip.p5') %> </p>
    <ul class='circles'>
      <li><%= link_to t('c_learning_route.lrip.l3.li1'), 'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-ethiopia-innovation-plan' %></li>
      <li><%= link_to t('c_learning_route.lrip.l3.li2'), 'http://suncivilsocietynet.wixsite.com/learningroute/copy-of-sierra-leone-innovation-pla'%></li>
      <li><%= link_to t('c_learning_route.lrip.l3.li3'),'http://suncivilsocietynet.wixsite.com/learningroute/ethiopia-innovation-plan' %></li>
      <li><%= link_to t('c_learning_route.lrip.l3.li4'), 'http://suncivilsocietynet.wixsite.com/learningroute/ethiopia-innovation-plan'%></li>
    </ul>
    <p>  <%= t('c_learning_route.lrip.p6') %> <%= link_to t('c_learning_route.lrip.p6l'), 'https://www.facebook.com/groups/SUNCSNLearningRoute/' %> </p>
  </div>
</div>
