<% @title=t('c_country.our_network.title') %>

<div class = "row large-12 columns">
    <h1> Our Network </h1>

    <p>The Scaling Up Nutrition Civil Society Network (SUN CSN) represents over 2000 national, regional and international organisations spanning multiple sectors, including; small-holder farmers, human rights defenders, women’s groups, humanitarian agencies, advocacy and research entities, consumer groups, trade unions and many others. The network includes national civil society alliances in 39 countries as well as four regional coordination groups.</p>
        <center>
    <%=image_tag("map.jpg", alt: "A map showing SUN movement", title: "A map showing SUN movement")%>
  </center>
  <p><b>Find out more about the work of national and regional SUN Civil Society Alliances:</b></p>
</div>

<div class = "row large-12 columns">
<ul class="vertical menu" data-accordion-menu>
  <li class="COUNTRY-LIST">
    <a href="#">Asia</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='ASIA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">West Africa</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='WEST_AFRICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">South and East Africa</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='SOUTH_EAST_AFRICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">Latin America</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='LATIN_AMERICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
</ul>
</div>
