<% @title=t('c_country.our_network.title') %>

<div class = "row large-12 columns">
    <h1> Our Network </h1>

    <p>The Scaling Up Nutrition Civil Society Network (SUN CSN) represents over 2000 national, regional and international organisations spanning multiple sectors, including; small-holder farmers, human rights defenders, women’s groups, humanitarian agencies, advocacy and research entities, consumer groups, trade unions and many others. The network includes national civil society alliances in 39 countries as well as four regional coordination groups.</p>
        <center>
    <%=image_tag("map.jpg", alt: "A map showing SUN movement", title: "A map showing SUN movement")%>
  </center>
  <p><b>Find out more about the work of national and regional SUN Civil Society Alliances:</b></p>
</div>

<div class = "row large-12 columns">
<ul class="vertical menu" data-accordion-menu>
  <li class="COUNTRY-LIST">
    <a href="#">Asia</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='ASIA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">West Africa</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='WEST_AFRICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">South and East Africa</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='SOUTH_EAST_AFRICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
  <li class="COUNTRY-LIST">
    <a href="#">Latin America</a>
    <ul class="menu vertical nested">
      <% @countries.each do |apple| %>
      <% if apple.region=='LATIN_AMERICA' %>
      <li><%= link_to apple.name, 'country/' +apple.id.to_s%></li>
      <% end %>
      <% end %>
    </ul>
  </li>
</ul>
</div>
<br>
<hr>
<br>
<div class = "row large-12 columns">
  <h4><b> Membership</b> </h4>
    <p>Membership is open to any civil society organisation wanting to link with the SUN Civil Society Network. Members must commit to actively contribute to the objectives of the SUN CSN and comply with the <%= link_to 'SUN Principles of Engagement', 'http://scalingupnutrition.org/about-sun/sun-communication-materials/principles-of-engagement/', class:"blink" %>. Joining the network should be an institutional choice and not an individual one. Organisations already members of another network of the SUN movement will not be eligible for SUN CSN membership.</p>
  <p> Individuals interested to follow SUN CSN efforts are welcome to become friends of the network by signing up to our mailing list </p>
  <h4><b> Join the network</b> </h4>
    <ul class='circles'>
      <li> download our application form </li>
      <li> email your completed application form to <a href="mailto:sun.csnetwork@savethechildren.org.uk.">Contact Me</a></li>
    </ul>
    <p> You can find a list of all current members here </p>
  <h4><b> Governance</b> </h4>
    <p>The SUN CSN is governed by a steering group of representatives from different civil society organisations across the globe, overseen by a chair and vice-chair. The steering group is responsible for decision making for the network, with guidance from SUN Civil Society Alliances in SUN countries. Find out more about the current Steering Group  <%= link_to 'here', 'http://docs.wixstatic.com/ugd/a1d6d9_d78592e6c0404ccd9048087afe7d7779.pdf', class:"blink" %>. </p>
    <p>The day-to-day work of the network is coordinated by the SUN CSN secretariat, currently hosted by Save the Children UK. Find out more about the work they do here.</p>
    <p>You can read the SUN CSN Terms of Reference <%= link_to 'here', 'http://docs.scalingupnutrition.org/wp-content/uploads/2013/01/SUN-CSN-Terms-of-Reference-English.pdf', class:"blink" %> </p>
  <h4><b>Funding </b> </h4>
    <p>The SUN Civil Society Network has received financial support from a range of donors including, the Scaling Up Nutrition Multi-Partner Trust Fund, the Bill and Melinda Gates Foundation, the Children’s Investment Fund Foundation (CIFF), the UK Department for International Development (DfID), Irish Aid and the German government (GIZ).</p>
    <p>Members of the SUN CSN also provide large contributions towards to SUN CSN through staff time, organisational resources and strategic leadership. We are hugely thankful for these generous contributions that make our work possible. </p>
    <p>The secretariat provides support to national alliances to identify and access funding opportunities to finance their work.</p>
</div>
