<% @title=t('c_general.about_sun.title') %>

<div class = "row large-12 columns">
  <h1>Scaling Up Nutrition Civil Society Network</h1>
  <p>The SUN Civil Society Network (SUN CSN) is an enabling network for civil society within the global Scaling Up Nutrition movement, which seeks to end malnutrition in all its forms. SUN CSN supports and coordinates the efforts of civil society alliances in 39 countries, which together represent 2,500 organisations working in various nutrition-related fields.  </p>
</div>
<div class='row'>
<div class = "large-6 columns">
  <h3> Our Funding </h3>
    <p> The SUN Civil Society Network receives financial support from the Scaling Up Nutrition MPTF, CIFF, the UK Department for International Development, and the German government (GIZ). </p>
</div>
<div class = "large-6 columns" style="border-left: 1px solid #E3E5E8;">
  <h3> Quick Links </h3>
  <ul>
    <li><%= link_to 'Where we work', 'http://www.suncivilsociety.com/where-we-work', target: "_blank"%></li>
    <li><%= link_to 'Our Impact', 'http://www.suncivilsociety.com/where-we-work', target: "_blank"%></li>
    <li><%= link_to 'Strategy 2016-2020', 'http://www.suncivilsociety.com/where-we-work', target: "_blank"%></li>
    <li><%= link_to 'Workplan', 'http://www.suncivilsociety.com/where-we-work', target: "_blank"%></li>
    <li><%= link_to 'Governance', 'http://www.suncivilsociety.com/where-we-work', target: "_blank"%></li>
  </ul>
</div>
</div>

<br>
<hr>
<br>
<div class = "row">
  <h3> SUN CSN secretariat team </h3>
  <br>
  <div class="large-4 columns">
      <%=image_tag("cara_flowers.jpg", alt: "Cara Flowers, SUN Civil Society Network Coordinator", title: "Cara Flowers, SUN Civil Society Network Coordinator")%>
      <p> <b>Cara Flowers</b>, SUN Civil Society Network Coordinator</p>
      <a href="mailto:C.Flowers@savethechildren.org.uk">C.Flowers@savethechildren.org.uk</a>
  </div>
  <div class="large-4 columns">
      <%=image_tag("cecillia.jpg", alt: "Cecilia Ruberto, SUN Civil Society Learning Route Programme Coordinator", title: "Cecilia Ruberto, SUN Civil Society Learning Route Programme Coordinator")%>
      <p><b>Cecilia Ruberto</b>, SUN Civil Society Learning Route Programme Coordinator </p>
      <a href="mailto:C.Ruberto@savethechildren.org.uk">C.Ruberto@savethechildren.org.uk</a>
  </div>
  <div class="large-4 columns">
    <%=image_tag("megan.jpg", alt: "Megan Pennell, SUN Country Support Officer", title: "Megan Pennell, SUN Country Support Officer")%>
    <p> <b>Megan Pennell</b>, SUN Country Support Officer</p>
    <a href="mailto:M.Pennell@savethechildren.org.uk">M.Pennell@savethechildren.org.uk</a>
  </div>
</div>
<br>
<center>
<div class = "row large-12 columns">
  <p><i>“Civil society plays a vital role in ensuring food security and nutrition. They represent the voice of communities and are able to reach the furthest behind with the messages needed to facilitate behavioural change and ensure equity and sustainability in food and nutrition approaches.”
</i></p><p><b>Cara Flowers, Scaling up Nutrition Civil Society Network Coordinator.</b>
</p>
<p> <i> “SUN CSN has a pivotal role to play. Civil society alliances have unique grassroots insights – they are channelling the voices of those most affected by malnutrition and pooling members’ expertise to inform better nutrition policies and practices. Their coordinated advocacy is helping to shape governments’ policies, programmes and plans – uniting a wide range of civil society groups to speak about nutrition with one voice for greater impact.”
</i></p><p><b>Tom Arnold, SUN Movement interim coordinator</b></p>
</div>
</center>
