<% @title=t('c_general.about_lr.title') %>

<div class="row">
  <div class = "large-12 columns">
    <h1>SUN Civil Society Learning Route Programme</h1>
    <p>A “Learning Route” is a proven process developed by Procasur Corporation, for accelerating knowledge sharing and peer-to-peer learning. At the heart of the learning route is a facilitated visit to a host country by representatives of different countries.</p>
    <p>Main objective of the programme is strengthening SUN Civil Society Alliances mutual collaboration and scaling up innovative solutions.</p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> Approaches and Outcomes </p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> LR in Africa </p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> Good Practises and Champions </p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> Learning Route News </p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> Innovation Plans </p>
  </div>
  <div class = "large-4 columns">
    <%=image_tag("place.png", alt: "Placeholder", title: "Placeholder")%>
    <p> Join the Facebook Community </p>
  </div>
</div>

<hr>
<br>

<div class="row">
  <div class = "large-12 columns">
  </div>
</div>
