<% @title="Home" %>

<div class="row">
  <div class="large-8 columns">
  	<div class="callout secondary">
  		<h4> What is a Learning Route? </h4>
  	</div>
  	 <p> A Learning Route is a capacity building tool, developed by Procasur Corporation, designed as a facilitated planned journey with specific learning objectives. A LR is an on-going peer-to-peer training process that makes room for discussion, analysis and reflection, while encouraging an active and mutual knowledge exchange between participants and their hosts. </p>
  	<div class="callout secondary">
  		<h4> Knowledge Sharing</h4>
  	</div>
  	<div class="callout secondary">
  		<h4> Latest News </h4>
  	</div>
  </div>
  <div class="large-4 columns">
  	<div class="callout secondary">
  		<h4> Join Us Now!</h4>
  	</div>
  	<p>We use the facebook group to discuss, revise the next steps before actually doing them and to revise our steps while and after we are going forward! Use this page to feed, shape OUR learning program.</p>
  	<div class="callout secondary">
  		<h4> Login </h4>
  	</div>
    <% if user_signed_in? %>
      <p> SIGNED IN </p>
      <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      <% if current_user.admin? %>
      <li><%= link_to "Admin", '/admin' %></li>
      <% end %>
      <li><%= link_to "Profile", edit_user_registration_path %></li>
    <% else %>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    <% end %>
  </div>
</div>
