<% @title=t('c_general.index.title') %>

<div class="row">
  <div class="large-12 columns">
    <%=image_tag("Homepagegraphic.jpg", alt: "Placeholder", title: "Placeholder")%>
    <br>
    <br>
  </div>
</div>

<hr>
<br>
<div class="row">
  <div class="large-8 columns">
    <div class="large-12 columns" style="padding:0px">
      <h1> Latest News </h1>
      <br>
      <% @posts.each do |apple| %>
        <div class = "large-6 columns" style='padding-left:0px'>
          <h4 class = "news_home"><%= link_to apple.title, '/news/'+apple.id.to_s %> </h4>
          <p> News added on: <%= apple.created_at.to_date %> </p>
          <%= simple_format(apple.short) %>
          <%= link_to 'More Information', '/news/'+apple.id.to_s%>
          <br>
          <br>
        </div>
      <% end %>

  </div>

    <div class="large-12">
      <div class="large-6 columns" style="padding:0px">
        <h3> Featured Champion </h3>
        <% @champions.reverse.each do |champ| %>
        <% c_counter=0 %>
          <% if champ.featured? %>
          <% c_counter=1 %>
            <% name = champ.first_name + ' ' + champ.last_name + ' - ' + champ.country%>
            <%= name %>
            <br>
            <br>
            <% url = 'champions/' + champ.id.to_s %>
            <%=link_to image_tag(champ.headshot.url,width:"90%"),url %>
            <br>
            <br>
            <% break %>
          <% end %>
        <% end %>
      </div>
      <div class="large-6 columns RHS">
        <h3> Featured Resource </h3>
        <% @resources.each do |rec| %>
        <% r_counter=0 %>
          <% if rec.featured? %>
          <% r_counter=1 %>
            <%= rec.name %>
            <br>
            <br>
            <% url = 'knowledge/' + rec.id.to_s %>
            <% if rec.contenttype=="Document"  && rec.file.exists?%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>

            <% if rec.contenttype=="Picture"  && rec.file.exists?%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag(rec.file.url, alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag(rec.file.url, alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag(rec.file.url, alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>

            <% if rec.contenttype=="Movie"  && !rec.file.exists?(:thumb)%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag('video.jpg', alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag('video.jpg', alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag('video.jpg', alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      </div>
      <br>
    </div>
    <br>
    <br>

  </div>
  <div class="large-4 columns RHS">

    <h3> Latest Tweets</h3>
  <a class="twitter-timeline" data-height="600" href="https://twitter.com/SUNCSN">Tweets by SUNCSN</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
      <h3> Want our latest updates?</h3>
      <%= button_to('Sign up to our Newsletter','', method: :get, class:"success small button")  %>

      <h3> Login </h3>
    <% if user_signed_in? %>
      <p> Signed in as
      <%= current_user.email %> </p>
      <ul>
        <% if current_user.admin? %>
          <li><%= link_to "Admin", '/admin' %></li>
        <% end %>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= button_to('Forgot your password?',new_password_path(:user), method: :get, class:"success small button")  %>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
    <p> Register as a user to access further resources and upload your own </p>
        <%= button_to('Sign Up', new_user_registration_path, method: :get, class:"expanded success small button")  %>
      <% end %>
  </div>


</div>
