<% @title=t('c_general.index.title') %>


<div class='index_span'> </div>
<br>
<div class="row">
  <div class="large-12 columns">
    <center>
    <p> The SUN Civil Society Network (SUN CSN) is a part of the global SUN Movement seeking to end malnutrition in all its forms. SUN CSN is made up of national and international organisations working in various fields, including women’s empowerment, humanitarian-aid, trade unions and many others.</p>
  </center>
  </div>
</div>

<br>
<hr>
<br>
<div class="row">
  <div class="large-8 columns">
  		<h3> Knowledge Sharing</h3>
      <br>
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1OViW5pplv40y4F9k56KUwIyY0VE" width="100%" height="480"></iframe>
    <br>
    <br>
    <div class="large-12">
      <div class="large-6 columns" style="padding:0px">
        <h3> Featured Champion </h3>
        <% @champions.reverse.each do |champ| %>
        <% c_counter=0 %>
          <% if champ.featured? %>
          <% c_counter=1 %>
            <% name = champ.first_name + ' ' + champ.last_name%>
            <%= name %>
            <br>
            <br>
            <% url = 'champions/' + champ.id.to_s %>
            <center>
            <%=link_to image_tag(champ.headshot.url,width:"90%"),url %>
          </center>
            <br>
            <br>
            <% break %>
          <% end %>
        <% end %>
      </div>
      <div class="large-6 columns"  style="border-left: 1px solid #E3E5E8;">
        <h3> Featured Resource </h3>
        <% @resources.each do |rec| %>
        <% r_counter=0 %>
          <% if rec.featured? %>
          <% r_counter=1 %>
            <%= rec.name %>
            <br>
            <br>
            <% url = 'knowledge/' + rec.id.to_s %>
            <center>
            <% if rec.contenttype=="Document"  && rec.file.exists?%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag(rec.file.url(:thumb), alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>

            <% if rec.contenttype=="Picture"  && rec.file.exists?%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag(rec.file.url, alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag(rec.file.url, alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag(rec.file.url, alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>

            <% if rec.contenttype=="Movie"  && !rec.file.exists?(:thumb)%>
              <% if rec.protected %>
                <% if user_signed_in? %>
                  <%=link_to image_tag('video.jpg', alt: rec.name, title: rec.name), url%>
                <% else %>
                  <%=image_tag('video.jpg', alt: rec.name, title: rec.name)%>
                <% end %>
              <% else %>
                <%=link_to image_tag('video.jpg', alt: rec.name, title: rec.name), url%>
              <% end %>
            <br>
            <% end %>
            <% break %>
          <% end %>
        <% end %>
      </center>
      </div>
      <br>
    </div>
    <br>
    <br>

  </div>
  <div class="large-4 columns"  style="border-left: 1px solid #E3E5E8;">
  		<h3> Login </h3>
    <% if user_signed_in? %>
      <p> Signed in as
      <%= current_user.email %> </p>
      <ul>
        <% if current_user.admin? %>
          <li><%= link_to "Admin", '/admin' %></li>
        <% end %>
        <li><%= link_to "Profile", edit_user_registration_path %></li>
        <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
      </ul>
    <% else %>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <%= f.text_field :email %>
        <%= f.password_field :password %>
        <%= f.check_box :remember_me %>
        <%= f.submit 'Sign in' %>
        <%= link_to "Forgot your password?", new_password_path(:user) %>
      <% end %>
    <% end %>
    <% if !user_signed_in? %>
        <%= button_to('Register', new_user_registration_path, method: :get, class:"expanded success button")  %>
      <% end %>
    <br>
      <h3> Latest Tweets</h3>
    <a class="twitter-timeline" data-height="600" href="https://twitter.com/SUNCSN">Tweets by SUNCSN</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
  </div>
<hr>
<br>


  <div class="large-12 columns">
    <h1> Latest News </h1>
    <br>
    <% @posts.each do |apple| %>
      <div class = "large-6 columns" style='padding-left:0px'>
        <h4><%= apple.title%> </h4>
        <%= simple_format(apple.short) %>
        <% if apple.external %>
          <%= link_to 'External Link', apple.external, target: "_blank"%>
        <% else %>
          <%= link_to 'More Information', apple.id.to_s%>
        <% end %>
      </div>
    <% end %>
</div>
</div>
