<% @title=t('c_general.lr2.title') %>

<div class = "row large-12 columns">
  <h1> <%= t('c_general.lr2.title') %> </h1>
  <br>
  <p> Sun CSN is looking for a host country for its second Learning Route in Asia in May or June 2017. Host countries benefit in many ways – through support in capturing their best practice and analysing their learning and through links with peers in other countries.  </p>
  <div class = "row">
    <div class = "large-6 columns">
  <ul class='circles'>
    <li> Bangladesh </li>
    <li> Cambodia </li>
    <li> Kyrgyzstan </li>
    <li> Lao PDR </li>
    <li> Myanmar </li>
    <li> Nepal </li>
    <li> Pakistan </li>
    <li> Sri Lanka </li>
  </ul>
</div>
<div class = "large-6 columns">
  <div class="callout secondary">
<ol>
<li><b>Preparatory phase and scoping visit: January – March 2017</b> <br>
Take part in 3-4 skype conferences and 5-7 days scoping visit to pre-identify best practices and key actors. </li>
<li><b>Systematisation of Best Practices: February – April 2017 </b>
Best Practices are identified and systematically organised to promote the adoption and scaling-up of innovative processes. People who are successful in their own work are trained to become capacity builders (Champions) during the Learning Route.</li>
<li> <b>Learning Route – May: June 2017</b><br>
Two weeks preparation and 5-7 days for the international learning exchange. </li>
</ul>
</div>
</div>
</div>
</div>

<br>
<hr>
<br>
<div class='row'>
<div class="large-6 columns">
  <h3> Quick Links </h3>
  <ul class='circles'>
    <li><%= link_to 'Apply to host the Asia Learning Route', 'https://goo.gl/forms/hGGq7GNXFgs7YWLG2', target: "_blank"%></li>
    <li><%= link_to 'Infosheet – being a Learning Route Host', 'https://drive.google.com/file/d/0B86JaQJl0W2BeEdvOXN2SlNkcEE/view', target: "_blank"%></li>
    <li><%= link_to 'Benefits and challenges of being a host - interview', 'https://www.youtube.com/watch?v=dAuIt3vplbY', target: "_blank"%></li>
  </ul>
  <br>
  <h3> Learning Route Objectives </h3>
  <ul class='circles'>
    <li>to contribute to build and strengthen the capacity of SUN CSAs </li>
    <li>to enable CSAs to ‘cascade’ the learning and build capacity in their own country</li>
    </ul>
    <br>
    <h3> Focus learning areas </h3>
    <ul class='circles'>
      <li>Policy review and tracking, communications, democratic processes</li>
      <li>Engagement and stimulation of multi stakeholder platforms</li>
      <li>Budget tracking, data collection and sharing for monitoring and accountability</li>
      <li>Advocacy, social mobilization, campaign development</li>
      <li> Good governance, accountability and participatory processes</li>
      </ul>
  </div>
<div class="large-6 columns RHS">
  <h3> Asia Learning Route Timeline </h3>
  <br>
  <%=image_tag("asia.jpg")%>
</div>
</div>


<br>
<br>
<hr>
<br>
<div class='row'>
<div class="large-8 columns">
  <h3> Latest News </h3>
  <% @posts.each do |apple| %>
    <div class = "large-12 columns" style="padding-left:0px">
      <h4><%= apple.title%> </h4>
      <%= simple_format(apple.short) %>
      <% if apple.external %>
        <%= link_to 'External Link', apple.external, target: "_blank"%>
      <% else %>
        <%= link_to 'More Information', apple.id.to_s%>
      <% end %>
      <br>
      <br>
    </div>
  <% end %>
</div>
<div class="large-4 columns RHS">
<h3> Join Us Now! </h3>
<p>We use the facebook group to discuss, revise the next steps before actually doing them and to revise our steps while and after we are going forward! Use this page to feed, shape OUR learning program.</p>
<%=link_to image_tag("FACEBOOK.jpg"),"https://www.facebook.com/groups/SUNCSNLearningRoute/"%>
<br>
<br>
<h3> Latest Tweets</h3>
<a class="twitter-timeline" data-height="600" href="https://twitter.com/SUNCSN">Tweets by SUNCSN</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>
</div>
