<% @title=t('c_news.index.title') %>

<div class = "row large-12 columns">
    <h1> News </h1>
</div>


<% @posts.each do |apple| %>
  <div class= 'row'>
   <div class = "large-9 columns">
    <h4><%= apple.title%> </h4>
    <p> News added on: <%= apple.created_at.to_date %> </p>
    <%= simple_format(apple.short) %>
    <% if apple.external!='' %>
      <%= link_to 'External Link', apple.external, target: "_blank"%>
    <% else %>
      <%= link_to 'More Information', apple.id.to_s%>
    <% end %>
  </div>
  <div class = "large-3 columns">
    <% if apple.picture %>
    <%=image_tag(apple.picture.url(:home), alt: apple.title, title: apple.title)%>
    <% end %>
  </div>
 </div>
 <br>
<% end %>


<div class = "row large-12 columns">
    <%= paginate @posts %>
</div>
