<% @title=@posts.title %>

<div class = "row">
  <div class="large-6 columns end">
    <h1> <%= @posts.title %> </h1>
    <p><%= @posts.created_at.to_date.strftime("%d/%m/%Y") %></p>
    <%=image_tag(@posts.picture.url(:home), alt: @posts.title, title: @posts.title)%>
    <br>
    <i> <%= @posts.caption %> </i>
    <br>
    <p><b><%= simple_format(@posts.long) %></b></p>
    <h6><i>"<%=@posts.quote%>"</i></h6>
    <%= simple_format(@posts.post) %>
    <% if @posts.external !='' %>
      <%= link_to 'External Link', @posts.external, target: "_blank"%>
    <% end %>
  </div>
</div>
