<% @title=t('c_resource.index.title') %>

<div class = "row">
  <div class = 'large-12 columns'>
    <h1> Resources</h1>
  </div>
</div>

<div class = "row">
  <div class = 'large-8 columns'>
    <div class = 'large-12 columns' style='padding:0px'>
    <h3> Search for a Resource </hr>
      <br>
    <%= form_tag search_index_path, method: :get do %>
      <%= label_tag :search , 'What would you like to find?' %>
      <%= text_field_tag :search, params[:search] %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :language , t('activerecord.attributes.resource.language')  %>
      <%= select_tag(:language, options_for_select([['', ''], [t('m_resource.language.eng'),'English'], [t('m_resource.language.fre'),'French'], [t('m_resource.language.spa'),'Spanish']], selected: :language )) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :contenttype , t('activerecord.attributes.resource.contenttype') %>
        <%= select_tag(:contenttype, options_for_select([['', ''],[t('m_resource.contenttype.AaP'),'Document'], [t('m_resource.contenttype.video'),'Movie'], [t('m_resource.contenttype.photo'),'Picture'], [t('m_resource.contenttype.presentations'),'Presentation'], [t('m_resource.contenttype.champion'),'Champion'], [t('m_resource.contenttype.websites'),'Website']], selected: :contenttype )) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :thematic_tag , t('activerecord.attributes.resource.thematic_tag')  %>
      <%= select_tag(:thematic_tag, options_for_select([['', ''], [t('m_resource.thematic_tag.Nutrition'),'Nutrition'], [t('m_resource.thematic_tag.Health'),'Health'], [t('m_resource.thematic_tag.Agriculture'),'Agriculture'],[t('m_resource.thematic_tag.WASH'),'WASH'],[t('m_resource.thematic_tag.Equity'),'Equity'],[t('m_resource.thematic_tag.GenderOrYouth'),'GenderOrYouth'],[t('m_resource.thematic_tag.ClimateChange'),'ClimateChange']], selected: :thematic_tag )) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :content_tag , t('activerecord.attributes.resource.content_tag') %>
      <%= select_tag(:content_tag, options_for_select([['', ''], [t('m_resource.content_tag.Advocacy'),'Advocacy'],[t('m_resource.content_tag.Policy'),'Policy'],[t('m_resource.content_tag.CampaignAndSocialMobilisation'),'CampaignAndSocialMobilisation'],[t('m_resource.content_tag.Communication'),'Communication'],[t('m_resource.content_tag.Fundraising'),'Fundraising'],[t('m_resource.content_tag.BestPractisesAndInnovatio'),'BestPractisesAndInnovation'],[t('m_resource.content_tag.Governance'),'Governance'],[t('m_resource.content_tag.CapacityDevelopment'),'CapacityDevelopment'],[t('m_resource.content_tag.MultistakeholdersPlatform'),'MultistakeholdersPlatform']], selected: :content_tag )) %>
    </div>
    <div class = 'large-12 columns' style='padding:0px'>
      <%= button_tag( 'Search',name: nil, type: 'submit',class: "success button") %>
    <% end %>
    </div>
  </div>
  <div class = 'large-4 columns' style="border-left: 1px solid #E3E5E8;">
    <h3> Upload a New Resource </h3>
    <p> Have a great resource that you would like to share? Click the button below to upload
      a new resource to the site! (You must be logged in and approved by admin to use this feature) </p>
      <br>
      <%= link_to "Upload", knowledge_new_path,:class=>"expanded success button" %>
  </div>
</div>

<br>

<div class = "row">
  <div class = 'large-12 columns'>
    <h1> Latest Resources</h1>
  </div>
</div>

<% @resources.each do |apple| %>
<div class = "row">
  <div class = "large-12 columns">
    <div class = "large-8 columns">
    <% url = 'knowledge/' + apple.id.to_s %>
    <h4> Resource: <%= apple.name %> </h4>
    <%= simple_format(apple.short) %>
    <% if apple.protected %>
      <% if user_signed_in? %>
        <% if apple.file.exists?%>
          <%= link_to "Download", apple.file.url(:original, false) %> <br>
        <% else %>
          <a href= <%= apple.external %> >Link to External Content</a> <br>
        <% end %>
      <% end %>
    <% else %>
      <% if apple.file.exists?%>
        <%= link_to "Download", apple.file.url(:original, false) %> <br>
      <% else %>
        <a href= <%= apple.external %> >Link to External Content</a> <br>
      <% end %>
    <% end %>
    <% if apple.protected %>
      <% if user_signed_in? %>
        <a href=<%= url %>>Full Description </a>
      <% else %>
        <%=t('m_resource.protected')%>
      <% end %>
    <% else %>
      <a href=<%= url %>>Full Description </a>
    <% end %>
  </div>
  <div class = "large-4 columns">
    <% if apple.contenttype=="Document"  && apple.file.exists?%>
      <% if apple.protected %>
        <% if user_signed_in? %>
          <%=link_to image_tag("document.png", alt: apple.name, title: apple.name), apple.file.url(:original, false)%>
        <% else %>
          <%=image_tag("document.png", alt: apple.name, title: apple.name)%>
        <% end %>
      <% else %>
        <%=link_to image_tag("document.png", alt: apple.name, title: apple.name), apple.file.url(:original, false)%>
      <% end %>
    <br>
    <% end %>

    <% if apple.contenttype=="Picture"  && apple.file.exists?%>
      <% if apple.protected %>
        <% if user_signed_in? %>
          <%=link_to image_tag(apple.file.url, alt: apple.name, title: apple.name), apple.file.url(:original, false)%>
        <% else %>
          <%=image_tag(apple.file.url, alt: apple.name, title: apple.name)%>
        <% end %>
      <% else %>
        <%=link_to image_tag(apple.file.url, alt: apple.name, title: apple.name), apple.file.url(:original, false)%>
      <% end %>
    <br>
    <% end %>
  </div>
</div>
</div>
<br>
<% end %>
