<% @title="Resources" %>

<div class = "row large-12 columns">
  <h1> Resources</h1>
<div>

  <div class = "row large-12 columns">
  <%= form_tag search_index_path, method: :get do %>
    <%= text_field_tag :search, params[:search] %>
    <%= select_tag "language", options_for_select(['English','Spanish','French'].map{|o| [o.humanize,o] }) %>
    <%= submit_tag "Search", name: nil %>
  <% end %>
  <div>

<div class = "row large-12 columns">
  <%= link_to "Upload", "/knowledge/new" %>
<div>
  <br>

<% @resources.each do |apple| %>
  <div class = "row large-12 columns">
    <% url = 'knowledge/' + apple.id.to_s %>
    <h4> <%= apple.name %> </h4>
    <%= simple_format(apple.short) %>
    <%= apple.file.content_type %>
    <br>
    <%= link_to "Download", apple.file.url(:original, false) %>
    <br>
    <a href=<%= url %>>Full Description </a>
  </div>
  <br>
<% end %>
