<% @title=t('c_resource.index.title') %>

<div class = "row">
  <div class = 'large-12 columns'>
    <h1> Resources</h1>
  </div>
</div>

<div class = "row">
  <div class = 'large-8 columns'>
    <div class = 'large-12 columns' style='padding:0px'>
    <h3> Search for a Resource </hr>
      <br>
    <%= form_tag search_index_path, method: :get do %>
      <%= label_tag :search , 'What would you like to find?' %>
      <%= text_field_tag :search, params[:search] %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :language , t('activerecord.attributes.resource.language')  %>
      <%= select_tag "language", options_for_select(['','English','Spanish','French'].map{|o| [o.humanize,o] }) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :contenttype , t('activerecord.attributes.resource.contenttype') %>
      <%= select_tag "contenttype", options_for_select(['','Document','Movie','Picture'].map{|o| [o.humanize,o] }) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :thematic_tag , t('activerecord.attributes.resource.thematic_tag')  %>
      <%= select_tag(:thematic_tag, options_for_select([['', ''], ['Nutrition','Nutrition'], ['Health','Health'], ['Agriculture','Agriculture'],['WASH','WASH'],['Equity','Equity'],['Gender/Youth','GenderOrYouth'],['Climate Change','ClimateChange']], selected: :thematic_tag )) %>
    </div>
    <div class = 'large-6 columns' style='padding:0px'>
      <%= label_tag :content_tag , t('activerecord.attributes.resource.content_tag') %>
      <%= select_tag(:content_tag, options_for_select([['', ''], ['Advocacy','Advocacy'],['Policy','Policy'],['Campaign and Social Mobilisation','CampaignAndSocialMobilisation'],['Communication','Communication'],['Fundraising','Fundraising'],['Bes tPractises and Innovation','BestPractisesAndInnovation'],['Governance','Governance'],['Capacity Development','CapacityDevelopment'],['Multistakeholders Platform','MultistakeholdersPlatform']], selected: :content_tag )) %>
    </div>
    <div class = 'large-12 columns' style='padding:0px'>
      <%= button_tag( 'Search',name: nil, type: 'submit',class: "success button") %>
    <% end %>
    </div>
  </div>
  <div class = 'large-4 columns' style="border-left: 1px solid #E3E5E8;">
    <h3> Upload a New Resource </h3>
    <p> Have a great resource that you would like to share? Click the button below to upload
      a new resource to the site! (You must be logged in and approved by admin to use this feature) </p>
      <br>
      <%= link_to "Upload", knowledge_new_path,:class=>"expanded success button" %>
  </div>
</div>

<br>

<div class = "row">
  <div class = 'large-12 columns'>
    <h1> Latest Resources</h1>
  </div>
</div>

<div class = "row">
<% @resources.each do |apple| %>
  <div class = "large-4 columns">
    <% url = 'knowledge/' + apple.id.to_s %>
    <h4> Resource: <%= apple.name %> </h4>
    <%= simple_format(apple.short) %>
    <% if apple.contenttype=="Document" %>
    <%=link_to image_tag("document.png", alt: "Document", title: "Document"), apple.file.url(:original, false)%>
    <br>
    <% end %>
    <% if apple.contenttype=="Picture"  && apple.file.exists?%>
    <%=link_to image_tag(apple.file.url, alt: apple.name, title: apple.name), apple.file.url(:original, false)%>
    <br>
    <% end %>
    <%= apple.file.content_type %>
    <br>
    <% if apple.file.exists?%>
      <%= link_to "Download", apple.file.url(:original, false) %>
    <% else %>
      <a href= <%= apple.external %> >Link to External Content</a>
    <% end %>

    <br>
    <a href=<%= url %>>Full Description </a>
  </div>
<% end %>
</div>
