<% @title=t('c_resource.new.title') %>
<div class="row">
<div class = "large-12 columns">
  <h1> New Resource</h1>
  <p> Below is a form to upload new resources onto the site. Please ensure that you fill out all fields as clearly as possibke
  to help other users identify your resource. If you have any problems please contact the admin.</p>
  <% if @resource.errors.any? %>
  <ul>
    <% @resource.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>
</div>

  <%= form_for :resource do |f| %>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, label:false %>
  </div>
</div>

<div class = "large-3 columns">
  <div class="field">
    <%= f.label :protected %>
    <%= f.check_box :protected,label:false%>
  </div>
</div>

<div class = "large-3 columns">
  <div class="field">
    <%= f.label :award %>
    <%= f.check_box :award,label:false  %>
  </div>
</div>

<div class = "large-12 columns">
  <div class="field">
    <%= f.label :short%>
    <%= f.text_area :short, label:false %>
  </div>

  <div class="field">
    <%= f.label :long %>
    <%= f.text_area :long, label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :thematic_tag%>
    <%= f.select :thematic_tag, [[t('m_resource.thematic_tag.Nutrition'),'Nutrition'], [t('m_resource.thematic_tag.Health'),'Health'], [t('m_resource.thematic_tag.Agriculture'),'Agriculture'],[t('m_resource.thematic_tag.WASH'),'WASH'],[t('m_resource.thematic_tag.Equity'),'Equity'],[t('m_resource.thematic_tag.GenderOrYouth'),'GenderOrYouth'],[t('m_resource.thematic_tag.ClimateChange'),'ClimateChange']], label:false  %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :content_tag%>
    <%= f.select :content_tag, [[t('m_resource.content_tag.Advocacy'),'Advocacy'],[t('m_resource.content_tag.Policy'),'Policy'],[t('m_resource.content_tag.CampaignAndSocialMobilisation'),'CampaignAndSocialMobilisation'],[t('m_resource.content_tag.Communication'),'Communication'],[t('m_resource.content_tag.Fundraising'),'Fundraising'],[t('m_resource.content_tag.BestPractisesAndInnovation'),'BestPractisesAndInnovation'],[t('m_resource.content_tag.Governance'),'Governance'],[t('m_resource.content_tag.CapacityDevelopment'),'CapacityDevelopment'],[t('m_resource.content_tag.MultistakeholdersPlatform'),'MultistakeholdersPlatform']], label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.select :language, [[t('m_resource.language.eng'),'English'], [t('m_resource.language.fre'),'French'], [t('m_resource.language.spa'),'Spanish']] %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
    <%= f.label :contenttype%>
    <%= f.select :contenttype, [[t('m_resource.contenttype.AaP'),'Document'], [t('m_resource.contenttype.video'),'Movie'], [t('m_resource.contenttype.photo'),'Picture'], [t('m_resource.contenttype.presentations'),'Presentation'], [t('m_resource.contenttype.champion'),'Champion'], [t('m_resource.contenttype.websites'),'Website']], label:false %>
  </div>
</div>

<div class = "large-6 columns">
  <div class="field">
  <%= f.file_field :file %>
</div>
</div>

<div class = "large-6 columns">
  <%= f.label :external %>
  <%= f.text_field :external, label:false %>
</div>

<div class = "large-12 columns">
  <div class="field">
    <%= f.submit %>
  </div>
<% end %>
</div>
</div>
</div>
