<% @title=@resources.name %>

<div class = "row large-12 columns">
  <h1> Resource Information: <%= @resources.name %> </h1>
<div>

<div class='row'>

  <div class = "large-8 columns">
    <h4> <%= @resources.name %> </h4>
    <%= simple_format(@resources.long) %>
    <% if @resources.file.exists?%>
      <%= link_to "Download", @resources.file.url(:original, false) %>
    <% else %>
      <a href= <%= @resources.external %> >Link to External Content</a>
    <% end %>
  </div>

  <div class = "large-4 columns">
    <% if @resources.contenttype=="Document" %>
      <%=link_to image_tag(@resources.file.url(:thumb), alt: @resources.name, title: @resources.name), @resources.file.url(:original, false)%>
      <br>
    <% end %>
    <% if @resources.contenttype=="Picture"  && @resources.file.exists?%>
      <%=link_to image_tag(@resources.file.url, alt: @resources.name, title: @resources.name), @resources.file.url(:original, false)%>
      <br>
    <% end %>

    <% if @resources.contenttype=="Movie"  && !@resources.file.exists?(:thumb)%>
        <%=link_to image_tag('video.jpg', alt: @resources.name, title: @resources.name), @resources.external%>
        <br>
    <% end %>

    <% if @resources.contenttype=="Presentation"  && !@resources.file.exists?(:thumb)%>
        <%=link_to image_tag('presentation.png', alt: @resources.name, title: @resources.name), @resources.external%>
        <br>
    <% end %>

  </div>

</div>
