<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= @title %> | SUN</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row LOGOCONTAINER">
        <div class="large-6 columns LOGOBAR">
          <%=link_to image_tag("SUN_LOGO.jpg", alt: "Scaling Up Nutrition", title: "Scaling Up Nutrition"),index_path%>
        </div>
        <div class="small-1 columns LOGOBAR">
        </div>
        <div class="large-5 end columns LANGUAGEBAR">
          <center>
            <small>
            <%= link_to "English", :locale=>'en'%>
            <%= link_to "Francias", :locale=>'fr'%>
            <%= link_to "Espanol", :locale=>'es'%>
            <%=link_to image_tag("TwitterLogo_white.png", alt: "Twitter", title: "Twitter", size:'25x25'),"https://twitter.com/suncsn"%>
            <%=link_to image_tag("FB-f-Logo__white_50.png", alt: "Facebook", title: "Facebook", size:'25x25'),"https://twitter.com/suncsn"%>
            <%=link_to image_tag("YouTube-logo-light.png", alt: "Youtube", title: "Youtube", size:'55x25'),"https://twitter.com/suncsn"%>
            <%=link_to image_tag("In.png", alt: "LinkedIn", title: "LinkedIn", size:'25x25'),"https://twitter.com/suncsn"%>
          </small>
          </center>
        </div>
    </div>

    <div class="row show-for-small-only"  style='padding:0px'>
      <div class="small-12 columns" style='padding:0px'>
        <div class="top-bar" style='padding:0px'>
          <ul class="vertical menu" data-accordion-menu>
            <li>
              <a href="#">Menu</a>
              <ul class="menu vertical nested">
                <li style='background-color:#666666;'> <%= link_to 'Login',user_session_path,style: 'color:white'  %> </li>
                <li style='background-color:#666666;'> <%= link_to t(:News), news_index_path,style: 'color:white'  %> </li>
                <li> <%= link_to t(:Home),index_path,class: 'drop'    %> </li>
                <li> <%= link_to t(:our_network),our_network_path,class: 'drop'  %> </li>
                <li> <%= link_to t(:what_we_do),what_we_do_path,class: 'drop'    %> </li>
                <li> <%= link_to t(:governance),governance_path,class: 'drop'    %> </li>
                <li> <%= link_to t(:About_Learning_Route_Programs), about_lr_path ,class: 'drop'%> </li>
                <li> <%= link_to t(:champions),champions_path,class: 'drop'%> </li>
                <li> <%= link_to t(:Advocacy),advocacy_path,class: 'drop'%> </li>
                <li> <%= link_to t(:knowledge),knowledge_path, class: 'drop'  %> </li>
                <li> <%= link_to t(:contact),contact_path, class: 'drop'   %> </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
<hr>
<div class="row hide-for-small-only"  style='padding:0px'>
  <div class="medium-12 columns">
    <div class="top-bar" style='padding:0px'>
      <div class="top-bar-left" style='padding:0px'>
        <ul class="dropdown menu" data-dropdown-menu>
          <li style='background-color:#666666;'> <%= link_to t(:News), news_index_path,style: 'color:white'  %> </li>
          <li  style='background-color:#666666; border-left: 1px solid #E3E5E8;'> <%= link_to 'Login',user_session_path,style: 'color:white'  %> </li>
          <li> <%= link_to t(:Home),index_path  %> </li>
          <li>
            <%= t(:About_us)%>
            <ul class="menu vertical">
              <li> <%= link_to t(:our_network),our_network_path,class: 'drop'  %> </li>
              <li> <%= link_to t(:what_we_do),what_we_do_path,class: 'drop'    %> </li>
              <li> <%= link_to t(:governance),governance_path,class: 'drop'    %> </li>
            </ul>
          </li>
          <li style='padding-left:15px;'>
            <%= t(:our_work)%>
            <ul class="menu vertical">
              <li> <%= link_to t(:About_Learning_Route_Programs), about_lr_path ,class: 'drop'%> </li>
              <li> <%= link_to t(:champions),champions_path,class: 'drop'%> </li>
              <li> <%= link_to t(:Advocacy),advocacy_path,class: 'drop'%> </li>
            </ul>
          </li>
          <li> <%= link_to t(:knowledge),knowledge_path  %> </li>
          <li> <%= link_to t(:contact),contact_path  %> </li>
        </ul>
      </div>
    </div>
  </div>
</div>

    <div class = "row">
      <div class = 'large-12 columns'>
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
      </div>
    </div>
<br>
    <%= yield %>
    <br>
    <br>
<footer>
    <div class="row large-12 columns">
    <br>
    <div class="large-3 columns">
      <br>
      <h5> SOCIAL MEDIA</h5>
        <%=link_to image_tag("TwitterLogo_white.png", alt: "Twitter", title: "Twitter", size:'25x25'),"https://twitter.com/suncsn", class: "socialA"%>
        <%=link_to image_tag("FB-f-Logo__white_50.png", alt: "Facebook", title: "Facebook", size:'25x25'),"https://twitter.com/suncsn", class: "socialA"%>
        <%=link_to image_tag("YouTube-logo-light.png", alt: "Youtube", title: "Youtube", size:'55x25'),"https://twitter.com/suncsn", class: "socialA"%>
    </div>
    <div class="large-3 columns FR">
      <br>
      <h5> BROWSE</h5>
      <ul>
        <li><%= link_to t(:About_SUN), about_sun_path  %> </li>
        <li> <%= link_to t(:About_Learning_Route_Programs), about_lr_path  %> </li>
        <li> <%= link_to t(:knowledge),knowledge_path  %> </li>
        <li> <%= link_to t(:champions),champions_path  %> </li>
      </ul>
      <br>
    </div>
    <div class="large-3 columns FR">
      <br>
      <h5> Learning Route</h5>
      <ul>
        <li> <%= link_to t(:About_Learning_Route_Programs), about_lr_path  %> </li>
        <li> <%= link_to t(:lr1),lr1_path  %> </li>
        <li> <%= link_to t(:lr2),lr2_path  %> </li>
      </ul>
    </div>
    <div class="large-3 columns FR">
      <br>
      <p> PARTNERS</p>
      <ul>
      </ul>
    </div>
  </div>
  <br>
</footer>
  <div class="row expanded F2">
    <br>
    <center><p> &copy Copyright 2016 SUN CSN</p></center>
    <br>
  </div>

  </body>
</html>
